header {
    text-align: center;
   
    font-family: sans-serif;
}
body{
    background-image: url("imgs/fondo1.jpg");
    background-repeat: no-repeat;    
    background-attachment: fixed;
    background-position: center center;

}

#logo{
    padding: 50px;
    width: 100%;
}
nav > a {
    color: lightblue;
    text-decoration: transparent;
    justify-content: space between;
   
}
h3{
    text-align: center;
    color: antiquewhite;
}
h2 {
    padding: 50px;
    color: rgb(175, 69, 170);
    font-size: 40px;
    text-align: center;
    
}

#section, #article1, #article2, header, #article3, #article4, #footer1, .footer2 {
    
    background-color: rgba(62, 61, 63, 0.678);
    padding: 10px;
    width: 80%;
    margin: 0px auto;
    
}


p, h6, h4{
    color: hotpink;
    text-align: justify;
    font-size: 20px;
    text-indent: 20px;
    padding: 20px;
    
}


table {
    width:100%;
    font:normal 16px Arial;
    text-align:center;
    border-collapse:collapse;
 
}

table th {
    font:bold 15px Arial;
    background-color:rgba(99, 109, 240, 0.548);
    color: rgb(61, 4, 99);
}
.fila1{
    
    background-color:rgba(220, 140, 231, 0.712);
    color: rgb(50, 3, 82);
}
.fila2{
    background-color:rgba(175, 140, 231, 0.712);
    color: rgb(50, 3, 82);

}

.lista{
    color: rgb(240, 109, 245);
    font-size: 20px;
}

.labels{
    color: rgb(240, 109, 245);
    font-size: 20px;
}
.adiv{
    color: hotpink;
    text-align: center;
}

